<h6>DELIVERY</h6>
<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-2">
        <span class="material-symbols-outlined"> location_on </span>
        <div>
          <b>Entregar em</b>
          <div>{{ this.address }}</div>
          <div *ngIf="address == ''">Insira um endereço</div>
        </div>
      </div>
      <div class="d-flex align-items-center cursor-pointer">
        <span
          class="material-symbols-outlined"
          data-bs-toggle="modal"
          data-bs-target="#addressModal"
        >
          edit
        </span>
      </div>
    </div>
  </div>
</div>

