<div class="pix-container">
  <qrcode [qrdata]="qrCodeUrl" [errorCorrectionLevel]="'M'"></qrcode>

  <div class="pix-code" (click)="copyLink()">
    <span class="material-symbols-outlined"> content_copy </span>
    Copiar
  </div>
</div>


<div class="toast-container position-fixed top-0 end-0 p-3">
  <div
    class="toast align-items-center border-0"
    role="alert"
    id="payment-toast"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body">{{ this.toastMessage }}</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
