<header class="padding-padrao logo">
  <div class="d-flex gap-1 align-items-center logo">
    <h5 style="margin: 0">Pede Já</h5>
    <span class="material-symbols-outlined"> soup_kitchen </span>
  </div>
  <div class="d-flex gap-2 clickable" id="account">
    <div class="mobile-order open-order">
      <span
        type="button"
        class="material-symbols-outlined"
        data-bs-toggle="modal"
        data-bs-target="#orders"
        style="font-size: 32px"
      >
        shopping_cart
      </span>
      <div *ngIf="orderQty !== 0" class="order-qty">{{ this.orderQty }}</div>
    </div>
    <div>
      <span class="material-symbols-outlined" style="font-size: 32px">
        settings
      </span>
    </div>
  </div>
</header>

<div class="padding-padrao container-fluid">
  <div class="row">
    <main class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
      <div class="presentation">
        <h2>Nosso menu</h2>
        <div>
          Gerar algum texto bonitinho pra colocar nessa legenda para
          complementar um espaço em branco no site, pode gerar com qualquer IA,
          sla gpt, gemini ou copilot.
        </div>
      </div>

      <div class="row">
        <div
          class="col-lg-4 col-md-4 col-sm-6 mb-4"
          *ngFor="let product of products"
        >
          <app-food-card
            [product]="product"
            (add)="addToOrder($event)"
          ></app-food-card>
        </div>
      </div>
    </main>

    <div class="col-xl-4 col-md-12 col-sm-12">
      <div class="desktop-order" style="position: sticky; top: 5rem">
        <aside>
          <app-address></app-address>
          <app-order></app-order>
        </aside>
      </div>
    </div>
  </div>
</div>

<!-- modals -->
<app-address-modal></app-address-modal>
<div class="mobile-order">
  <div
    class="modal fade"
    id="orders"
    data-bs-backdrop="static"
    data-bs-keyboard="true"
    tabindex="-1"
    aria-labelledby="ordersLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen-xl-down">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <app-order></app-order>
        </div>
      </div>
    </div>
  </div>
</div>

<div 
  class="toast-container position-fixed top-0 end-0 p-3" 
  style="z-index: 1055;"
>
  <div
    class="toast align-items-center text-bg-success border-0"
    role="alert"
    id="finish-payment-toast"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body" id="toast-message">Mensagem padrão</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>