<div *ngIf="orderItemsList.length > 0; else emptyCart">
  <h6>SEUS PEDIDOS</h6>
  <div class="card">
    <div class="card-body">
      <div class="orders mb-3">
       <app-orders-items></app-orders-items>
      </div>

      <div class="finish-order">
        <hr />
        Taxa de entrega: R$ {{ deliveryTax | number : "1.2-2" }}
        <br />
        Subtotal: R$ {{ total | number : "1.2-2" }}
        <hr />

        <p>Total: R$ {{ total + deliveryTax | number : "1.2-2" }}</p>

        <div
          *ngIf="!paymentOrder"
          class="d-flex justify-content-between cursor-pointer btn-finish-order btn"
          (click)="navigateToPayment()"
        >
          Concluir pedido
          <span class="material-symbols-outlined"> arrow_right_alt </span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div class="card">
    <div class="card-body text-center">
      <p>Seu pedido está vazio.</p>
    </div>
  </div>
</ng-template>
